@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.titulo-roles{
    background-color: #3cc3bd;
    color: white;
    font-family: "Merienda";
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border: 1px solid gray;
}


.input1 {
    width: 190px;
    height: 35px;
    padding: 8px 8px 8px 8px;
    background: #ebebeb;
    color: #000000;
    border-color: #000000;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    font-family: "Quicksand";
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}

.input2 {
    margin-bottom: 50px;  
    width: 190px;
    height: 35px;
    padding: 8px 8px 8px 8px;
    background: #ffffff;
    color: #000000;
    border-color: #000000;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 20px 20px 20px 20px;
    font-family: "Quicksand";
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
}



.label-buscar{
    font-size: 17px;
    font-family: "Quicksand";
}

.crear-rol{
    text-decoration: none;
}

.crear-rol p{
    background-color: #444444;
    height: 100%;
    color: white;
    font-family: 'Quicksand';
    font-size: 17px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 3px 7px 10px black;
    text-decoration: none;
}

.buscar-rol{
    box-shadow: 3px 7px 10px black;
}

.table {
    text-align: center;
    margin-top: 100px;
}

.table tr th {
    background-color: #e2d4ff;
}

.iconos{
  color: #3cc3bd;
  font-size: 20px;
}

.boton-editar{
  position: relative;
  color: #3cc3bd;
  left: 27px;
}

/*swith*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 18px;
    top: 5px;
    right: 27px ;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3cc3bd;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3cc3bd;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.select {
	width: 224px;
	height: 43px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
	background: #ffffff;
	color: #000000;
	border-color: #000000;
	border-width: 0.5px;
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
	font-weight: 400;
  font-family: "Quicksand";
	line-height: 1.3;
	text-align: left;
}
.select {
  margin-left: 40px;
}

.select1 {
  margin-bottom: 50px;  
  width: 190px;
  height: 35px;
  padding: 8px 8px 8px 8px;
  background: #ffffff;
  color: #000000;
  border-color: #000000;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  font-family: "Quicksand";
  font-weight: bold;
  line-height: 1.3;
  
}

.botones{
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}


.cancelar{
  padding: 0px 10px 0px 10px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
  background: #ffffff;
  color: #232323;
  border-color: #232323;
  border-width: 1px;
  border-style: solid;
  font-family: "Quicksand";
  font-weight: bold;
  margin: auto;
}

.aceptar{
  padding: 0px 10px 0px 10px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
  background: #444444;
  color: #ffffff;
  border-color: #444444;
  border-width: 1px;
  border-style: solid;
  font-family: "Quicksand";
  font-weight: bold;
  margin: auto;
}
