@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.titulo-Servicio{
    background-color: #3cc3bd;
    color: white;
    font-family: "Merienda";
    text-align: center;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.label-buscar{
    font-size: 17px;
    font-family: "Quicksand";
}

.crear.generar{
    text-decoration: none;
}


.crear{
    width: 100%;
    height: 50px;
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
    background: #444444;
    color: white;
    border-color: #444444;
    border-width: 1px;
    border: 1px solid black;
    font-family: "Quicksand";
    border-radius: 50px;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.3;
    text-align: right;
    padding-top: 10px;
    padding-right: 40px;
}

.generar{
    
        width: 100%;
        height: 50px;
        padding: 8px 8px 8px 8px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
        background: #444444;
        color: white;
        border-color: #444444;
        border-width: 1px;
        border: 1px solid black;
        font-family: "Quicksand";
        border-radius: 50px;
        font-weight: 100;
        font-size: 20px;
        line-height: 1.3;
        text-align: right;
        padding-top: 15px;
        padding-right: 15px;
    }

 

.buscar{
    box-shadow: 3px 7px 10px black;
}
.form-floating{
    width: 98%;
    display: grid;
    place-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.container-fluid{
    padding-top: 30px;
}

.tabla{
        padding-top: 50px;
        border-collapse: collapse;
        width: 300%;
        max-width: 100%; 
        margin: 20px auto; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    th {
        background-color: lightgrey; 
        font-weight: bold;
        padding: 10px;
        text-align: left;
    }
    td {
        padding: 8px;
        border-bottom: 1px solid black; 
    }

    table{
        width: 1000px;

    }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
        align-items: center;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }

  

      
      

